*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(22, 21, 21);
}


.mapa {
    text-align: center;
    padding-top: 20px;
}


header {
    background: #0c4294;


}
.contatomain {
	display: flex;
	justify-content: space-between;
}

.contatotexto {
    font-weight: bold;
    color: antiquewhite;
	background: #1056c0;
	border-radius: 10px;
	padding: 10px 102px 10px 30px;
	box-sizing: border-box;
	transition: 0.5;
}